name: Executar Scraper Diario

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Baixar codigo
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar Bibliotecas
        run: pip install selenium webdriver-manager pandas

      - name: Rodar o Scraper
        run: python script.py

      - name: Salvar no Repositorio
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          if [ -f resultado_doctoralia.csv ]; then
            git add resultado_doctoralia.csv
            git commit -m "Planilha atualizada"
            git push
          else
            echo "Arquivo nao encontrado"
          fi
