name: Executar Scraper Diário

on:
  workflow_dispatch: # Botão manual

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar Bibliotecas
        run: |
          pip install selenium webdriver-manager pandas

      - name: Rodar o Scraper
        run: python script.py

- name: Salvar o arquivo no Repositório (Commit e Push)
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          if [ -f resultado_doctoralia.csv ]; then
            git add resultado_doctoralia.csv
            git commit -m "Planilha atualizada em: $(date +'%d/%m/%Y %H:%M')"
            git push
          else
            echo "O arquivo resultado_doctoralia.csv não foi gerado. O scraper pode ter sido bloqueado ou não encontrou resultados."
            exit 1
          fi
